@charset "utf-8";

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 96vh;
    padding: 2vh 0;

    div {
        flex-grow: 1;
    }
}

header {
    nav {
        display: flex;
        justify-content: flex-end;

        ul {
            padding: 0;
            display: flex;
            list-style-type: none;
        }

        ul li {
            margin-left: 2rem;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
        ul li {
            margin-right: 2rem;
        }
    }

    div:nth-child(2) {
        ul li {
            margin-left: 2rem;
        }
    }

    div {
        display: flex;

        ul {
            padding: 0;
            display: flex;
            list-style-type: none;
        }
    }
}
