.container {
  margin-top: 120px;
  padding: 1rem 1.5rem;
}

.page-header {
  h1 {
    font-weight: 500;
  }
}
.page {
  a {
    color: #373737;
    background: rgba(235, 41, 140, 0.1);

    &:hover {
      background: rgba(235, 41, 140, 0.2);
    }
  }
  span {
    color: rgba(235, 41, 140, 1);
    font-weight: 500;
  }
}
