@import '../styles/variables.scss';

// Root styles
.in-container {
  margin-top: 120px;
  padding-top: 1.5rem;
}

.in-section {
  margin: 80px auto;

  .in-title-text {
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 0.5rem;
  }
}

.title {
  display: flex;
  justify-content: space-between;

  a {
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    color: rgba(55, 55, 55, 0.69);
  }
}

// Blog styles
.b-container {
  margin-top: 120px;
  padding-top: 1.5rem;
  margin-bottom: 60px;
}

.b-page-header {
  h1 {
    font-weight: 500;
    padding: 0 0 0 0.5rem;
  }
}

@media (min-width: 620px) {
  .b-container {
    margin-bottom: 0px;
  }
}

.outer {
  display: flex;
  margin-bottom: 4rem;
}

.wrapper {
  min-width: 90px;
}

.container {
  display: flex;
  flex-direction: column;

  .text {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;

    h3 {
      margin: 0;
      padding: 0;
      margin-right: 1rem;
    }
  }

  a {
    color: rgba(55, 55, 55, 1);
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
  }
}

.content {
  a {
    color: $blue;
  }
}
