.projects {
  img {
    display: none;
  }
  .each {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    transition: background 0.3s ease;

    &:hover,
    &:active {
      background: rgba(55, 55, 55, 0.03);
    }
  }

  .title {
    color: rgba(55, 55, 55, 1);
    font-size: 1.2rem;
  }

  .small {
    color: rgba(55, 55, 55, 0.69);

    span {
      color: rgba(68, 112, 214, 1);
    }
  }
}

@media (min-width: 620px) {
  .projects {
    .each {
      display: flex;
      border-bottom: 1px solid #eee;

      &:last-of-type {
        border-bottom: none;
      }
    }

    p {
      color: rgba(55, 55, 55, 0.5);
      display: block;
      flex: 1;
      margin: 0 1rem 0 0;
      font-size: 0.9rem;
    }
  }
}
