@import '../../styles/variables.scss';

.outer {
  display: flex;
  margin-bottom: 4rem;
}

.wrapper {
  min-width: 90px;
}

.container {
  display: flex;
  flex-direction: column;

  a {
    color: rgba(55, 55, 55, 1);
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
  }
}

.content {
  a {
    color: $blue;
  }
}
