.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  background: white;

  &.scroll {
    box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
  }
}

.nav-container {
  padding: 0 1.5rem;
  height: 55px;
  max-width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.3s ease;
}

.brand {
  a {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.9);
    margin-right: 0;
    font-weight: 500;
    font-size: 1.15rem;

    &:hover,
    &focus {
      color: black;
    }
  }

  .text {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0;

  a {
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 400;
    padding: 0.75rem;
    margin: 0 0.25rem;
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.2;
    text-align: center;
  }
}

.favicon {
  height: 23px;
  width: 23px;
  min-width: 23px;
  margin-right: 1rem;
  margin-bottom: 0;
}

@media (min-width: 620px) {
  .nav {
    &.scroll {
      .nav-container {
        height: 60px;
      }
    }

    .nav-container {
      height: 160px;
    }

    .brand {
      a {
        font-size: 1.3rem;
      }
      .text {
        display: block;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 100%;

      a {
        font-size: 1.2rem;
        margin: 0 0.5rem;
        padding: 1rem;
        border-bottom: 2px solid transparent;
      }
    }
    .favicon {
      margin-right: 1rem;
    }
  }
}
