{% import "macros/head.html" as head -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta property="og:locale" content="en" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block title %} {{ config.title }} {% endblock %}</title>

        <meta property="og:title" content="{{ head::title() }}" />
        <meta property="og:type" content="website" />
        <meta name="twitter:title" content="{{ head::title() }}" />

        <meta name="twitter:site" content="@realngebhart" />
        <meta name="twitter:creator" content="@realngebhart" />
        <meta name="author" content="Nicholas Gebhart" />

        {%- if page.description -%}
        <meta name="description" content="{{ page.description }}" />
        <meta name="twitter:description" content="{{ page.description }}" />
        <meta property="og:description" content="{{ page.description }}" />
        {%- else -%}
        <meta name="description" content="{{ config.description }}" />
        <meta name="twitter:description" content="{{ config.description }}" />
        <meta property="og:description" content="{{ config.description }}" />
        {%- endif -%}

        {%- if page.image -%}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="{{ config.base_url }}{{ page.image }}" />
        <meta property="og:image" content="{{ config.base_url }}{{ page.image }}" />
        {%- else -%}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content="{{ config.base_url }}assets/favicon-32x32.png" />
        <meta property="og:image" content="{{ config.base_url }}assets/favicon-32x32.png" />
        {%- endif -%}

        <link rel="prefetch" href="{{ resize_image(path=config.extra.profile, width=100, height=100, op="fill") }}" />
        <link rel="prefetch" href="{{ config.base_url }}" />
        <link rel="prefetch" href="{{ config.base_url }}blog" />
        <link rel="prefetch" href="{{ config.base_url }}content" />

        <link rel="shortcut icon" type="image/png" href="/favicon-32x32.png" />
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/style.css" />
        {% block posthead %} {% endblock %}
    </head>

    <body>
        {% block content %} {% endblock %}
    </body>
</html>
