{% extends "base.html" %}

{%block posthead %}
    {% for post in section.pages %}
        <link rel="prerender" href="{{ post.permalink }}" />
    {% endfor %}
{% endblock %}

{%block title %}
    {{ config.title }} | {{ section.title  }}
{% endblock %}

{% block content %}
    <!-- Flex container -->
    <div>
        {% include "header.html" %}
        <section class="post">
            {{ section.content | safe }}
            <ul>
              {% for page in section.pages %}
                      <a href="{{ page.permalink | safe }}">
                          <li>
                              <blockquote>
                                  <p>{{ page.title }}</p>
                                  <p>
                                      {%- if page.summary -%}
                                        {{ page.summary | striptags }}
                                      {%- else -%}
                                        {{ page.content | safe | striptags | truncate(length=120) }}
                                      {%- endif %}
                                  </p>
                              </blockquote>
                          </li>
                      </a>
              {% endfor %}
            </ul>
        </section>

    </div>
    {% include "footer.html" %}
{% endblock content %}
