<footer>
    <!-- Feed -->
    <div>
        <ul>
            <li>
                <a
                    href="/atom.xml"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    RSS
                </a>
        </ul>
    </div>
    <!-- Footer navigation -->
    <div>
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/blog">
                    Blog
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contact
                </a>
            </li>
    </div>
    <!-- Analytics -->
    <script
        data-goatcounter="https://gebhart.goatcounter.com/count"
        async
        src="//gc.zgo.at/count.js"
    ></script>
</footer>
