<footer>
    <!-- Powered by -->
    <div>
        <ul>
            <li>
                <a
                    href="https://www.github.com/gebhartn/gebhart.dev"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img src="" alt="GitHub Logo" />
                </a>
            </li>
            <li>
                <a
                    href="https://www.netlify.com/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img src="" alt="Netlify Logo" />
                </a>
            </li>
            <li>
                <a
                    href="https://www.getzola.org/"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <img src="" alt="Zola Logo" />
                </a>
            </li>
        </ul>
    </div>
    <!-- Footer navigation -->
    <div>
        <ul>
            <li>
                <a href="/">
                    Home
                </a>
            </li>
            <li>
                <a href="/blog">
                    Blog
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contact
                </a>
            </li>
            <li>
                <a href="/rss.xml" target="_blank" rel="noopener noreferrer">
                    RSS Feed
                </a>
            </li>
        </ul>
    </div>
</footer>
