.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  height: 25px;
  width: 25px;
  max-height: 25px;
  margin: 0;
  margin-right: 30px;
}

.logo-container {
  align-items: center;
  display: flex;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  padding: 0 0.5rem;
}

.links-container {
  justify-content: space-evenly;
  align-items: center;
  display: flex;

  a {
    color: rgba(55, 55, 55, 0.69);
    transition: color 0.3s ease;
    padding: 0 0.5rem;

    &:hover {
      color: rgba(55, 55, 55, 1);
    }
  }
}

@media (min-width: 620px) {
  .footer {
    height: 100px;
    margin: 40px 0 80px;
  }
}
